* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 1000px;
}

p {
  font-weight: 300;
  color: #111;
  line-height: 2;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

header.sticky {
  background-color: #fff;
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

header .logo {
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
}

header.sticky .logo {
  color: #111;
}

header .logo span {
  color: #ff0157;
}

header .navigation {
  position: relative;
  display: flex;
}

header .navigation li {
  list-style: none;
  margin-left: 30px;
}

header .navigation a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  transition: 0.3s;
}

header .navigation a:hover {
  color: #ff0157;
}

header.sticky .navigation a {
  color: #111;
}

header.sticky .navigation a:hover {
  color: #ff0157;
}
/* en of Header */

/* banner section */
.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./images/bg.jpg) no-repeat center center;
  background-size: cover;
}

.banner .content {
  max-width: 900px;
  text-align: center;
}

.banner .content h2 {
  font-size: 5rem;
  color: #fff;
}

.banner .content p {
  font-size: 1rem;
  color: #fff;
}

.btn {
  font-size: 1rem;
  color: #fff;
  background-color: #ff0157;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-decoration: none;
  letter-spacing: 2px;
  transition-duration: 0.5s;
}

.btn:hover {
  letter-spacing: 6px;
}
/* end of banner section */

/* About */
section {
  padding: 100px;
}

.row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.row .col50 {
  position: relative;
  width: 48%;
}

.title {
  color: #111;
  font-size: 2rem;
  font-weight: 300;
}

.title span {
  color: #ff0157;
  font-size: 3rem;
  font-weight: 700;
}

.row .col50 .img-boxe {
  position: relative;
  width: 100%;
  height: 100%;
}

.row .col50 .img-boxe img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* end of About */

/* menu */

.menu-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu .content {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-top: 40px;
}

.menu .content .box {
  width: 340px;
  margin: 20px;
  border: 15px solid #fff;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
}

.menu .content .box .image {
  position: relative;
  width: 100%;
  height: 300px;
}

.menu .content .box .image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu .content .box .text {
  padding: 15px 0 5px;
}

.menu .content .box h3 {
  font-weight: 400;
  color: #111;
  text-align: center;
}

.menu .menu-btn {
  display: flex;
  justify-content: center;
}

/* end of menu*/

/* expert */

.expert .expert-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.expert .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 40px;
}

.expert .content .box {
  width: 250px;
  margin: 15px;
}

.expert .content .box .image {
  position: relative;
  width: 100%;
  height: 300px;
}

.expert .content .box .image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.expert .content .box .text {
  padding: 15px 0 5px;
}

.expert .content .box h3 {
  font-weight: 400;
  color: #111;
  text-align: center;
}
/* end of  expert */

/* Testimonials */

.testimonials {
  background: url(./images/bg2.jpg) center center no-repeat;
  background-size: cover;
}

.white .title,
.white p {
  color: #fff;
  text-align: center;
}

.testimonials .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 40px;
}

.testimonials .content .box {
  width: 340px;
  margin: 20px;
  padding: 40px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.testimonials .content .box .image {
  position: relative;
  width: 80px;
  margin: 80px;
  margin-bottom: 20px;
  border-radius: 50%;
  overflow: hidden;
}

.testimonials .content .box .image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonials .content .box .text {
  text-align: center;
}

.testimonials .content .box .text p {
  color: #666;
  font-style: italic;
}

.testimonials .content .box .text h3 {
  margin-top: 20px;
  color: #111;
  font-size: 1em;
  color: #ff0157;
  font-weight: 600;
}
/* end of Testimonials


/* contact */
.contact {
  background: url(./images/bg3.jpg);
  background-size: cover;
}

.contact-title {
  text-align: center;
}

.contact-form {
  padding: 75px 50px;
  background-color: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);

  max-width: 500px;
  margin-top: 50px;
}

.contact-form h3 {
  color: #111;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 500;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
  width: 100%;
  border: 1px solid #555;
  padding: 10px;
  color: #111;
  outline: none;
  font-size: 16px;
  font-weight: 300;
}

.contact-form .input-box input[type='submit'] {
  font-size: 1em;
  color: #fff;
  background-color: #ff0157;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  max-width: 100px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

/* end of contact */
